<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.autoyol.dao.CouponMapper">

    <insert id="insertCoupon" parameterType="String">
        INSERT INTO `coupon` (
          `temp_id`,
          `batch_id`,
          `batch_no`,
          `coupon_code`,
          `active_time`,
          `valid_length`,
          `valid_length_unit`,
          `status`,
          `mem_no`,
          `order_no`,
          `name`,
          `abstract_txt`,
          `coupon_type`,
          `handler`,
          `max_discount`,
          `cond_amount`,
          `real_discount`,
          `discount`,
          `discount_rate`,
          `restricted`,
          `support_cost_types`,
          `support_cities`,
          `support_car_brand`,
          `support_overlap`,
          `conflict_mode`,
          `conflict_temp_id`,
          `overlap_temp_id`,
          `valid_day`,
          `valid_use_begin_time`,
          `valid_use_end_time`,
          `valid_begin_time`,
          `valid_end_time`,
          `mem_has_read`,
          `create_time`,
          `use_time`,
          `rent_min_day`,
          `rent_max_day`,
          `day_cond_amount`,
          `day_discount`,
          `double_cond_amount`,
          `double_discount`,
          `day_discount_rate`,
          `support_car_tags`,
          `double_discount_rate`,
          `day_max_discount`,
          `valid_use_day`
        )
        VALUES
          (
            '180',
            '4956',
            '$1$测试工具发券',
            #{random},
            '2018-07-19 16:45:57',
            '60',
            '1',
            '0',
            #{memNo},
            '715928808081',
            '测试工具发券',
            '本优惠券有效期为60天',
            '1',
            '123',
            NULL,
            '0',
            '0',
            '100',
            NULL,
            '0',
            '1',
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            '0',
            '2015-01-01',
            '2099-01-01',
            '2018-07-19',
            '2029-09-17',
            '1',
            '2018-07-19 16:45:57',
            '2018-08-08 10:34:48',
            '-1',
            '999999',
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            '11111111'
          ) ;

        </insert>
</mapper>


