<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.autoyol.dao.SystemConfigMapper">
	<!-- 根据编码获取系统常量 -->
	<select id="selectSysConstantByCode" resultType="map">
    	select id,c_name,c_code,c_value from sys_constant sc where sc.c_code = #{codes}
    </select>

	<select id="selectCarParamRatio" resultType="string">
		SELECT config_value FROM car_param_hot_brand_deposit WHERE brand_id = #{brand_id} AND type_id = #{type_id} AND is_delete='0'
	</select>

	
</mapper>