<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.autoyol.dao.ToolboxMapper">
	<select id="selectToolbox" resultType="com.autoyol.entity.Toolbox">
		select toolbox_id,toolbox_name,status from toolbox WHERE status = 1
	</select>
	
	<select id="selectToolboxByToolboxid" parameterType="String" resultType="com.autoyol.entity.Toolbox">
		select toolbox_id,toolbox_name,status from toolbox where toolbox_id in #{toolboxids}
	</select>
	
</mapper>